:root {
	--white: white;
}
body {
	background-image: url("../images/covid.jpg"); /*https://cdn.georgeinstitute.org/sites/default/files/2020-03/covid.jpg*/
	/* background-repeat: no-repeat; */
	background-size: auto;
	position: relative;
	font-size: 35px;
	/* background-position: center; */
}
.username_style{
	font-family:cursive;
	color: #ceb3e4;
	font-size: 30px;
	text-decoration: underline;
  }
  .menu-nav {
	display: -webkit-box;
	display: -ms-flexbox;
  }
ul {
	list-style-type: none;
	top: 0px;
	padding-right: 300px;
	position: fixed;
	display: flex; /*display:flex => to start flexible box*/
	flex-flow: row wrap; /*flex-flow: [flex-direction]+[flex-wrap]*/
}
ul li {
	/* display: inline-block; */ /* no need because we using in ul > flex*/
	/*  font-size: 22px; */
	font-style: italic;
	z-index: 1;
}
ul li a {
	text-decoration: none;
	padding: 5px 20px;
	border: 1px solid transparent;
	color: #fff;
	transition: 0.9s ease;
}
ul li a:hover,
ul li.active a {
	background-color: #fff;
	color: #000;
}
.date_style{
	position: relative;
	font-size: 22px;
	font-family: cursive;
	bottom: 180px;
	right: 912px;;
	width: 502px;
	color:rgb(255, 255, 255);
	border: 1px solid transparent;
	transition: 0.9s ease;
  }
.corona_vid_place {
	position: relative;
	float: left;
	height: 0px;
	right: 0px;
	bottom: 150px;
}
.corona_vid_live {
	width: 460px;
	height: 215px;
}
.in2,
.in {
	width: 170px;
	height: 23px;
}
.in {
	border: 3px solid rgb(2, 1, 1);
}
.in:focus {
	border-color: rgb(180, 7, 7);
	outline: none;
}
/*Registry+btn = Registry button כפתור ההרשמה בעמוד הראשי*/
.logregout{
	margin: 10px; /* or what ever */
	width: 100px;
  }
  .logout{
	top: 47px;
	font-size: 150%;
	border: 1px solid #fff;
	border-radius: 22px 0px;
	padding: 5px 30px;
	color: rgb(255, 16, 16);
	text-decoration: none;
	transition: 0.9s ease;
  }
  .logout:hover{
	background-color: rgb(3, 2, 2);
	color: rgb(253, 253, 253);
  }
.btn_Registry_place {
	float: right;
	position: relative;
	top: 20px;
	font-size: 130%;
	font-weight: bold;
	font-style: italic;
}
.btn_login_place{
  float: right;
  top: 40px;
  font-size: 150%;
  font-weight: bold;
  font-style: italic;
}
.btn_login{
  padding: 5px 39px;
} 
.btn_registry{
	padding: 5px 30px;
  }
.btn_registry,
.btn_login {
	text-decoration: none;
	padding: 1px 20px;
	border: 1px solid #fff;
	border-radius: 22px 0px;
	color: white;
	transition: 0.9s ease;
}
.btn_registry:hover, 
.btn_login:hover {
  background-color: #fff;
  color: #000;
}
h1 {
	right: 450px;
	top: 280px;
	position: relative;
	position: absolute;
	font-style: italic;
	color: white;
}
#text {
	/* padding: 0px 5px; */
	position: relative;
	left: 140px;
	bottom: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 26px;
	color: white;
}
.label_txt_area {
	position: relative;
	top: -50px;
	margin-right: 400px;
	position: relative;
	bottom: 185px;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	color: #000;
}
textarea {
	top: -50px;
	position: relative;
	margin-right: 645px;
	padding-bottom: 60px;
	border: 3px solid #cccccc;
	background-color: #324b69;
	bottom: 183px;
	width: 500px;
	height: 100px;
}
.commet-txtarea-parent {
	position: relative;
	top: -51px;
	right: 120px;
	padding-right: 700px;
}
.commet-txtarea-son {
	width: 130px;
	height: 40px;
	margin-bottom: 60px;
	background-color: #282828;
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}
.user-message-Forcomment{
	position: relative;
    top: -104px;
    left: -297px;
    width: 712px;
	padding-right: 2px;
	color: #020202;
	background-color: #ffffff6b;
	font-weight: 800;
	text-decoration:underline;
	font-family: serif;
}
.username-textarea-style{
	color: #ceb3e4;
	position: relative;
	font-weight: bold;
	font-size: 30px;
	text-decoration: underline;
	top: -10px;
	font-family: cursive;
}
.comment-box{
	position: relative;
	width: 465px;
	height: 100px;
	padding: 20px;
	right: 456px;
	bottom: 104px;
	/* font-size: 20px; */
	margin-bottom: 4px;
	background-color: #324b69;
	border-radius: 4px;
	overflow: auto;
}
.comment-box>p{
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 16px;
	color: #282828;
	font-weight: 100;
	left: 167px;
	margin: 0px;
	word-wrap: break-word;
}
.edit-form{
	left: 0px;
}
.delete-form{
	left: 60px;
}
.edit-form,
.delete-form{
	position: absolute;
	margin-left: 20px 	;
	top: 0px;
}
.edit-form button{
	width: 70px;
	height: 30px;
	margin-right: 40px;
}
.delete-form button{
	width: 70px;
	height: 30px;
	margin-left: 15px;
}
.edit-form button,
.delete-form button{
	color: #282828;
	background-color: #fff;
	font-size: 14px;
	border-radius: 2em;
	opacity: 0.7;
}
.edit-form button:hover,
.delete-form button:hover{
	opacity: 1;
}
.edit-textarea{
	top: 106px;
	position: relative;
	margin-right: -182px;
}
.submit_edit_txtarea_son{
	position: relative;
	right: 671px;
	top: 12px;
	width: 100px;
	height: 30px;
	background-color: #282828;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}
/*##########---->login page + (forgetpassw buttn + login Submit)<----#########*/
.login_page_place {
	text-align: center;
	font-size: 100%;
}
.button_forgot_passwd {
	padding: 5px 20px;
	position: relative;
	right: 75px;
	bottom: 30px;
	font-size: 60%;
	font-style: italic;
	text-decoration: none;
	border: 1px solid #fff;
	color: white;
	transition: 0.9s ease;
}
.button_forgot_passwd:hover {
	background-color: #fff;
	color: #000;
}
.usrer_passwd_Label {
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	background-color: FloralWhite;
}
.login_submit {
	height: 25px;
	width: 100px;
}
.login_submit:hover {
	text-decoration: none;
	background-color: #fff;
	color: #000;
}
/* #########----->forgot password page----######## */
.forgot_page_place {
	font-style: italic;
	text-align: center;
	padding: 10px;
}
.fgp_Label {
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	display: inline-block;
	background-color: FloralWhite;
}
.input_email_place {
	padding: 10px;
}
.fgp_email_input {
	height: 20px;
	width: 250px;
	border: 3px solid;
	border-style: ridge;
}
.send_submit {
	height: 30px;
	width: 120px;
	font-size: 20px;
	font-weight: bold;
}
/*##########---->Rergistry page----#########*/
body.background_image {
	background-image: url("../images/covid2.jpg"); /*https://d2r55xnwy6nx47.cloudfront.net/uploads/2019/04/Virus_1300_HP.jpg*/
	text-align: center;
	font-weight: bold;
	font-style: italic;
}
/* #msg-error{
	
} */
#alert,
#alert2,
#alert3,
#alert4,
#alert5,
#alert6,
#alert7{
  visibility: hidden;
  position: relative;
  background-color:#cf6b547d;
  color: #740000;
  border: #abababd1 2px solid;
  border-radius: 4px 2px 2px 35px;
  opacity: 0.8;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  padding: 1px;
  bottom: -4px;
  right: 558px;
}
.alert,
.alert2,
.alert3,
.alert4,
.alert5,
.alert6,
.alert7 {background-color: #ff9800;}
#alert {
	width: 256px;
}
#alert2 {
	width: 292px;
}
#alert3 {
	width: 340px;
}
#alert4 {
	width: 199px;
}
#alert5 {
	width: 304px;
}
#alert6 {
	font-size: 24px;
	width: 1000px;
	right: 290px;
}
#alert7 {
	width: 264px;
	right: 562px;
}
.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
.swal2-popup{
	left: 383px;
  }
.registry_button,
.reset_button {
	height: 40px;
	width: 120px;
}
.button_place_home {
	float: right;
	position: relative;
	bottom: 20px;
	right: 5px;
}
.button_home {
	text-decoration: none;
	padding: 10px 30px;
	font-style: italic;
	font-weight: bold;
	border: 1px solid #fff;
	border-radius: 20px 20px;
	box-shadow: 0px 1px 20px 0px rgb(46 61 73), 0px 1px 20px 0px rgb(114, 122, 119), 0px 1px 20px 0px rgb(150, 150, 190);
	color: #000;
	background-color: white;
	transition: 0.9s ease;
}
.button_home:hover {
	background-color: #fff;
	color: #000;
}
/*##########---->KindsLearn page<----#########*/
.kids_Page {
	background-image: url("../images/virus.jpg"); /*https://img.haarets.co.il/img/1.8699013/296813522.jpg?precrop=2192,1272,x8,y143&height=698&width=1200*/
	background-size: cover;
	background-repeat: no-repeat;
}
.kids_menu li {
	background-color: rgb(67, 155, 165);
}
.imgkids {
	width: 600px;
	margin-top: 50px;
}
.vid1 {
	position: relative;
	width: 600px;
	height: 515px;
	border-width: 5px;
	margin-right: 30%;
	bottom: 100px;
}
.vid2 {
	width: 600px;
	height: 515px;
	border-width: 5px;
	margin-right: 60%;
}
/*##########---->Virus History + vids Page<----#########*/
.select_place {
	text-decoration: none;
	padding-right: 80px;
	padding-top: 50px;
	transition: 0.9s ease;
}
.label_select {
	font-style: italic;
	background-color: rgba(243, 243, 243, 0);
	color: lightskyblue;
	border: 2px solid rgba(255, 255, 255, 0.603);
}
#virus_select {
	font-size: 40px;
	cursor: pointer;
	color: white;
	background-color: black;
}
#virus_select2 {
	font-size: 20px;
	cursor: pointer;
	color: white;
	background-color: black;
  }	
.selected_vid_style{
	left: 185px;
	position: relative;
}
  #selected_video > .selected_vid_style {
	width: 900px;
	height: 500px;
	top: auto;
	transform: translate(-50%, 30%);
	border: #cccccc solid 1px;
	background-image: url("../images/vidoload.jpg");
	background-size: cover;
  }
  #selected_history {
	font-style: italic;
	font-weight: bold;
	text-align: center;
	position: relative;
	color: white;
	font-size: 30px;
	padding: 20px 16px 10px 10px;
  }
  #selected_history h2 {
	font-size: 40px;
	text-align: center;
	color: rgb(54, 5, 5);
	padding: 20px 10px;
  }
/*##########---->Virus Protect Page----#########*/
.text_style {
	font-style: italic;
	font-weight: bold;
	color: white;
}
#h1_style {
	top: -20px;
	position: relative;
	right: 250px;
	text-decoration: underline;
	color: rgb(201, 12, 12);
}
#text_style2 {
	font-size: 28px;
	padding-top: 20px;
}
h3,
h2 {
	padding-right: 12em;
	font-size: 36px;
	color: rgb(54, 5, 5);
	text-decoration: underline;
}
section a {
	color: rgb(165, 81, 81);
}
section a:hover {
	color: rgb(138, 135, 135);
}
section a:visited {
	color: blue;
}
.end_page_vid {
	width: 1000px;
	height: 515px;
	border-width: 5px;
	margin-right: 18.5%;
}
/*##########---->About us page----#########*/
.my_text {
	padding: 250px 0px 0px 500px;
	font-style: italic;
	font-weight: bold;
	color: white;
}
.my_text::first-letter {
	/*Psedo emelments(selection)*/
	display: inline-block;
	font-size: 60px;
	color: black;
}
.selection_p::selection {
	background-color: black;
	color: yellow;
}
.h1_a {
	top: 283px;
	right: 500px;
	width: 400px;
	margin-left: 1%;
	text-decoration: underline;
	text-transform: capitalize; /*make first letters capital*/
	letter-spacing: 3px; /*specs between letters*/
	text-shadow: 1px -9px 1px rgb(70 87 133);
}
p {
	padding-right: 34%;
	width: 760px;
}
footer p {
	padding-right: 22%;
	position: relative;
	bottom: -29px;
}
.top_arrow,
.right_arrow,
.bottom_arrow,
.left_arrow {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 15px;
	position: absolute;
}
.arrow_parent {
	position: relative;
	top: 502px;
	right: -234px;
}
.left_arrow {
	border-color: transparent transparent transparent black;
	right: 1010px;
	bottom: 460px;
}
.right_arrow {
	border-color: transparent green transparent transparent;
	right: 690px;
	bottom: 460px;
}
.top_arrow {
	border-color: red transparent transparent transparent;
	right: 840px;
	bottom: 514px;
}
.bottom_arrow {
	border-color: transparent transparent rgb(59, 161, 165) transparent;
	right: 840px;
	bottom: 415px;
}
footer {
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	color: rgb(28, 12, 245);
	position: relative;
	right: 190px;
	bottom: 86px;
}
.logo2 {
	height: 6em;
	width: 6em;
	padding-right: 85%;
}
/* congfiguration Page */
.congfbutton{
	
	left: -6px;
	top: 36px;
	position: absolute;
  }
  .congfbtn{
	font-size: 17px;
	font-style: italic;
	font-weight: 500;
	background-color: #364e6a;
	color: white; 
	border: 1px solid #fff;
	border-radius: 22px 22px; 
	padding: 4px 6px; 
	cursor: pointer; 
	transition: 0.9s ease;
  }
  .congfbtn:hover{
	background-color: white;
	color: black;
  }
.conlogo{
	position: absolute;
	bottom: 0;
	left: -106px;
	top: -159px;
	height: 40px;
	width: 40px;
  }
  .dropbtn {
	background-color: #4CAF50;
	color: white;
	border: none;
	cursor: pointer;
	position: relative;
	top: 130px;
    z-index: 1;
  }
  .dropdown {
	float: left;
	top: 27px;
	right: -104px;
	bottom: 662px;
	position: relative;
	z-index: 1;
  }
  .dropdown-content {
	font-size: 26px;
	font-family:cursive;
	display: none;
	position: absolute;
	cursor: pointer;
	z-index: 1;
  }
	.dropdown-content a {
	  margin-top: 5px;
	  color: #fff;
	  padding: 8px 12px;
	  border: 1px solid #fff;
	  border-radius: 22px 22px;
	  transition: 0.9s ease;
	  display: block;
	  
	}
  .dropdown-content a:hover {
	background-color: #000;
	  color: #fff;
  }
  .dropdown:hover .dropdown-content {
	display: block;
  }
